@font-face {
    font-family: noto-serif;
    src: url(../fonts/noto-serif-v20-latin-regular.woff2);
  }

body {
    font-family: noto-serif;
    background-image: url(../images/bpvt0384ont81.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-size: 100% 100%;
  }
  
  /* Make content area fill the entire browser window */
  html,
  .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Center the content in the browser window */
  .container {
    margin: auto;
    text-align: center;
  }
  
  .title {
    font-size: 3rem;
  }